.columns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow-x: auto;
}
.columns-container {
  display: flex;
  gap: 16px;
  padding: 16px;
  overflow-x: auto;
}

.column {
  background-color: #f4f4f4;
  padding: 16px;
  border-radius: 8px;
  min-width: 250px;
  flex: 0 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-right: 2px solid #ddd;
  display: inline-grid;
  margin: 1rem;
}

.task {
  background-color: #fff;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.task:hover {
  transform: translateY(-3px);
}

.create-task-button {
  margin: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-task-button:hover {
  background-color: #0056b3;
}